@using WebPhimNosime.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<User>
@{
    ViewBag.Title = "Acc List";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}


@using WebPhimNosime.Identity;

@{
    SecurityDbContext db = new SecurityDbContext();
}


<h4 class=" text-center" style="margin-top:100px;color:chocolate">Danh Sách User</h4>
<h4 class=" text-center" style="color:aqua">@ViewBag.tt</h4>
<div class="box_list" id="box_listindex" style="width:auto ;min-height:786px;margin: auto; margin-bottom:40px">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th class="text-center">IdUser</th>
                <th class="text-center">UserName</th>
                <th class="text-center">Email</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userId in Model)
            {
             
            <tr>
                <td class="text-center">@userId.Id</td>
                <td class="text-center">@userId.UserName</td>
                <td class=" table-active text-center">@userId.Email</td>
                <td class="text-center">

                    @Html.ActionLink("Xóa User", "RemoveUser", "Home", new { userId = userId.Id, area = "Admin" }, new { @class = "btn btn-primary" })
                </td>

            </tr>
               
            }
        </tbody>
    </table>
    <div class="pagination-container">
        @if ((Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) > 0)
        {
            <span style="color:aqua">
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("AccList", "Home", new { page = page, area = "Admin" }))
            </span>
        }
    </div>
  
</div>
